@font-face {
  src: url(../fonts/Buckwheat\ TC\ Sans\ Painted.otf);
  font-family: Buckwheat;
}

@font-face {
  src: url(fonts/OldLondon.ttf);
  font-family: cd;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #355070;
}


.avis {
padding-bottom: 10vw;

}



/*Affichage de l'asterisque en bas de page*/

.asterisque {
  font-family: Buckwheat;
  color: whitesmoke;
  font-size: 0.8rem;
}


/* Affichage relatif au compteur*/

#compteur {
  font-family: arial;
  font-size: 20px;
  text-align: center;
}

/* Affichage des cartes liées aux prix*/

.flip-card {
  background-color: transparent;
  font-family: Buckwheat;
  font-size: 2vw;
  color: whitesmoke;
  width: 200px;
  height: 80px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: whitesmoke;
  color: whitesmoke;
}

/* Style the back side */
.flip-card-back {
  background-color: whitesmoke;
  color: white;
  transform: rotateY(180deg);

}

.titre_carte {
  margin-top: 2vw;
  font-size: 7.5vw;
  color: #355070;
}

/* Affichage des avis utilisateurs*/

.card {
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */
}

.vertical {
  margin-top: 1.1vw;
  font-size: 6vw;
  display: none;
  color :#355070;
}

.vertical2 {
  margin-top: 3.8vw;
  font-size: 7.5vw;
  color: #355070;
}

.vertical3 {
  margin-top: 1.1vw;
  font-size: 6vw;
  color :#355070;
}

.prix {
  padding-top: 2vw;
  justify-content: center;
}


/*TITRES SECONDAIRES*/

.motivation {
  color: whitesmoke;
  font-family: Buckwheat;
  font-size: 8vw;
  animation: opacity 5s;
  padding-bottom: 3vw;

}

.apprentissage {
  font-family: Buckwheat;
  color: whitesmoke;
  font-size: 8vw;
  animation: opacity 5s;
  padding-top: 15vw;
  padding-bottom: 3vw;

}

.avenir {
  font-family: Buckwheat;
  color: whitesmoke;
  font-size: 8vw;
  animation: opacity 5s;
  padding-top: 15vw;
  padding-bottom: 3vw;

}



.mot {
  font-size: 0.9rem;
  color: whitesmoke;
  font-family: Buckwheat;
}


.photo {
  border: whitesmoke solid 10px;
  width:100%;
}

.photo_bloc {
  text-align: center;
}

.pourquoi {
  font-family: Buckwheat;
  color: whitesmoke;
  text-align: center;
  font-size: 9vw;
  padding-top: 50vw;
  padding-bottom: 20vw;
}

.titre_avis{
  font-family: Buckwheat;
  color: whitesmoke;
  text-align: center;
  font-size: 9vw;
  padding-top: 35vw;
  padding-bottom: 10vw;
}

.titre {
  justify-content: center;
  padding-bottom: 5vw;

}

#titre_principal {
  margin-top: 5vw;
  font-family: Buckwheat;
  font-size: 13vw;
  color: whitesmoke;
}

.titre_secondaire {
  text-align: start;
  font-family: Buckwheat;
  margin-left: 100px;
  font-size: 70px;
}

.time {
  font-family: compteur;
  font-size: 25px;
  text-align: center;
}

.exemplaire {
  text-align: center;
  display: table;
  font-family: Buckwheat;
  color: whitesmoke;
  font-size: 8vw;
  border: 4px solid whitesmoke;
}

.cadre_exemplaire{
justify-content: center;
padding-top: 20vw;

}

.tarif {
  text-align: center;
  font-family: Buckwheat;
  color: whitesmoke;
  text-decoration: underline;
  font-size: 10vw;
  padding-top: 7vw;
  padding-bottom: 7vw;
}


.temps_restant {
  text-align: center;
  font-family: Buckwheat;
  color: whitesmoke;
  text-decoration: underline;
  font-size: 10vw;
  padding-bottom: 7vw;
  padding-top: 20vw;
}


.test {
  text-align: center;
}

.texte_lorem {
  font-family: Buckwheat;
  color: whitesmoke;

}

.carte {
  height: 15rem;
  width: auto;
}


.homme1 {
  height: 400px;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  border: whitesmoke solid 5px;

}

.homme2 {
  height: 400px;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  border: whitesmoke solid 5px;

}



.couleur {
  background: gray;
  justify-content: center;
}

.nom {
  font-size: 4vw;
  margin-bottom: 0.2rem;
  font-weight: bold;
}


.stars {
  margin-left: 0.05rem;
  margin-bottom: 0.2rem;
}

.fas {
  color: darkgoldenrod;
}

#days,
#hours,
#minutes,
#secondes {
  font-size: 40px;
  font-family: Buckwheat;
  color: whitesmoke;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


#texte1 {
  animation: opacity 4s;

}

#texte2 {
  animation: opacity 4s;
}







span {
  border-right: .1em solid;
  animation: caret 1s steps(1) infinite;
  font-size: 7.5vw;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}







/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}


.texte_avis {
  font-family: Buckwheat;
  color: #495057;
  font-size: 3vw;
}





/* Partie sur la brochure*/

.brochure_titre {
  font-family: Buckwheat;
  font-size: 6vw;
  color: whitesmoke;
  padding-top: 15vw;
}

.brochure_part {
  justify-content: center;
  text-align: center;
  padding-bottom: 10vw;
}

.brochure_lien {
  color: #355070;
}

.brochure_lien:hover {
  color: #355070;
  font-weight: none;
  text-decoration: none;

}


.brochure_bouton {
  background-color: whitesmoke;
  border: none;
  color: #355070;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.brochure_bouton:hover {
  background-color: #495057;
  border: none;
  color: whitesmoke;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 1, 1);
}

.copy {
  color: whitesmoke;
  font-family: Buckwheat;
}

.logo {
  text-align: center;
  display: inline-block;
}

i {
  color: whitesmoke;
}