## EXPIRES CACHING ##
<IfModule mod_expires.c>

ExpiresActive On
ExpiresDefault "access 7 days"
ExpiresByType image/jpg "access plus 4 hours"
ExpiresByType image/jpeg "access plus 4 hours"
ExpiresByType image/gif "access plus 4 hours"
ExpiresByType image/png "access plus 4 hours"
ExpiresByType text/css "access plus 4 hours"
ExpiresByType application/pdf "access plus 4 hours"
ExpiresByType application/javascript "access plus 4 hours"
ExpiresByType application/x-javascript "access plus 4 hours"
ExpiresByType application/x-shockwave-flash "access plus 4 hours"
ExpiresByType image/x-icon "access plus 4 hours"


</IfModule>
## EXPIRES CACHING ##
